input#keyword {
  box-sizing: border-box;
  margin: 0 auto 50px;
  width: 80%;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 10px;
  max-width: 500px;
  box-shadow: 1pxx 1px 2px red;
}
