body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

strong {
  font-weight: 600;
}

h1 {
  margin: 25px 0;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
